<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skapa ny order</title>
</head>
<body>
<h1>Skapa ny order</h1>

<form th:action="@{/orders}" th:object="${order}" method="post">
    <p>
        <label> Order nummer: </label>
        <input type="text" th:field="*{orderNumber}">
    </p>

    <p>
        <label> Belopp: </label>
        <input type="number" th:field="*{amount}">
    </p>

    <p>
        <label> Order status: </label>
        <select th:field="*{orderStatus}">
            <option value="Skapad">Skapad</option>
            <option value="Bekräftad">Bekräftad</option>
            <option value="Skickad">Skickad</option>
            <option value="Levererad">Levererad</option>
        </select>
    </p>

    <p>
        <button type="submit">Skapa ny order</button>
    </p>
</form>
</body>
</html>